@model NSSERP.Areas.ReceiptBook.Models.ReceiptBookIssue
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @section scripts {
       
        <script>
            $(document).ready(function () {

                $('#tableDetails').DataTable();

            });

        </script>

    }
    <style>
        /* Add your custom styles here */
        body {
            padding: 20px;
            background-color: #f8f9fa; /* Set a background color */
        }

        .container {
            text-align: center;
        }

        .table-container {
            overflow-x: auto; /* Add horizontal scroll for small screens */
        }

        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 80%; /* Adjust the width as needed */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
            background-color: #fff; /* Set a white background */
        }

        th, td {
            border: 1px solid #dee2e6;
            padding: 15px;
            text-align: center;
            cursor: pointer;
        }

        th {
            background-color: #f2f2f2;
        }

        .nav-link {
            color: #000000;
            text-decoration: none;
            display: block;
            padding: 15px;
            position: relative;
            transition: background-color 0.3s, color 0.3s;
        }

            .nav-link:hover {
                color: #fff;
                background-color: #28166f;
            }

            /* Add custom zoom-in effect on hover for tabs */
            .nav-link::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, #1cb8a1, #008081);
                z-index: -1;
                opacity: 0;
                transition: opacity 0.3s, transform 0.3s;
            }

            .nav-link:hover::before {
                opacity: 1;
                transform: scale(1.1);
            }

    </style>
    <style>
        .card-header.sticky-top {
            background-color: #fff;
            z-index: 1000;
            border-bottom: 1px solid #dee2e6;
        }
    </style>
</head>
<body>

    <div class="card">
        @if (Model.msg != null)
        {
            ViewBag.msg = Model.msg;
        }
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <h5 class="mb-0">
                        <span style="color:#1cb8a1">RECEIPT BOOK ISSUE</span>
                        <span style="color:#28166f">DETAILS</span>
                    </h5>
                </div>
                <div class="col-12 col-md-3 mb-3 mb-md-0 text-left">
                    <h5 class="mb-0">
                        <span style="color:#1cb8a1">INDIAN GANGOTRI</span>
                    </h5>
                </div>
                <div class="col-12 col-md-3 text-md-right">
                    <a href="/ReceiptBook/ReceiptBookIssue/Home" class="btn btn-outline-primary"><i class="fas fa-plus"></i> ADD</a>
                    <a title="Go Back Home" href="/Gangotri/Home" class="btn btn-warning ml-2"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>

        <br />
     
            <div class="row">
                <div class="col-12">
                    <div class="table-container">
                    <table id="tableDetails" class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th></th>
                                <th>DEPT.SUBMIT</th>
                                <th>BOOK ISSUE NO.</th>
                                <th>ISSUE DATE</th>
                                <th>PERSON ID</th>
                                <th>PERSON NAME</th>
                                <th>RECEIPT BOOK NO.</th>
                                <th>RECEIPT FROM</th>
                                <th>RECEIPT TO</th>
                                <th>SUBMITTED</th>
                                <th>RECEIPT USED</th>
                                <th>EVENT</th>
                                <th>REMARK</th>
                                <th>TYPE</th>
                                <th>ISSUE AUTHORITY</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.masterDetails)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Home", "ReceiptBookIssue", new { id = item.book_issue_no,view=true })" title="View Details">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(Model.Docs))
                                            {
                                                <label for="file1">Attached Documents</label>
                                                var fileNames = Model.Docs.Split(',').Select(x => x.Trim()).ToList();
                                                for (int i = 0; i < fileNames.Count; i++)
                                                {
                                                    var simplifiedFileName = $"File {i + 1}";
                                                    <div><a class="btn btn-outline-primary view-btn" data-file-name="@fileNames[i]"><i class="fa fa-eye"></i>View @simplifiedFileName</a></div>
                                                }
                                            }
                                            else
                                            {
                                                <form method="post" action="@Url.Action("Index", "ReceiptBookIssue", new { id = item.book_issue_no})" enctype="multipart/form-data">
                                                    <label data-browse="Browse">Attach Documents</label>
                                                    <input type="file" name="DocUpload" multiple id="file1" accept="image/*,application/pdf">
                                                    <button type="submit" class="btn btn-outline-primary btn-sm">Upload</button>
                                                </form>
                                            }
                                        </td>
                                        <td>
                                            <textarea placeholder="Submit By" class="form-control" name="SubBy" rows="1" cols="50">@item.SubBy</textarea>
                                            <input type="checkbox" value="Y" class="chksubmit" name="ChkSub" @(item.ChkSub == "Y" ? "checked" : "") />
                                        </td>
                                        <td>@item.book_issue_no</td>
                                        <td>@item.IssueDate.GetValueOrDefault().ToShortDateString()</td>
                                        <td>@item.PID</td>
                                        <td>
                                            <form method="post" action="@Url.Action("TransferPerson", "ReceiptBookIssue", new { id = item.book_issue_no,OldPId=item.PID,BookId=item.Receipt_Book_No,PNoFrom=item.ProvReceiptFrom,PNoTo=item.ProvReceiptTo,TP=item.ReceiptBookType})">
                                                @item.Person_Name
                                                <select class="form-control" name="RefPersonid" id="RefPersonid">
                                                    <option value="">Select</option>
                                                    @if (Model.PersonDetails != null)
                                                    {
                                                        @foreach (var order in Model.PersonDetails)
                                                        {
                                                            <option value="@order.person_id" data-currencycode="@order.person_name" @(Model.PersonId == order.person_id ? "selected" : "")>@order.person_name</option>
                                                        }
                                                    }
                                                </select>
                                                <button type="submit" class="fas fa-person-walking-arrow-right">Transfer</button>
                                            </form>
                                        </td>
                                        <td>@item.Receipt_Book_No</td>
                                        <td>@item.ProvReceiptFrom</td>
                                        <td>@item.ProvReceiptTo</td>
                                        <td>@item.Submitted</td>
                                        <td>@item.ReceiptUsed</td>
                                        <td>@item.Event</td>
                                        <td>@item.Remark</td>
                                        <td>@item.ReceiptBookType</td>
                                        <td>@item.IssueAuthority</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <script>
                        $(document).ready(function () {
                            $('.chksubmit').change(function () {
                                var isChecked = $(this).is(':checked');
                                var bookIssueNo = $(this).closest('tr').find('.book_issue_no').text();
                                console.log(isChecked);
                                submitData(bookIssueNo, isChecked);
                            });
                        });

                        function submitData(bookIssueNo, isChecked) {
                            var subByValue = $('textarea[name="SubBy"]').val();
                            var chkSubValue = isChecked ? "Y" : "N";

                            if (isChecked) {
                                $.ajax({
                                    type: "GET",
                                    url: "/ReceiptBook/ReceiptBookIssue/DepartmentSubmit",
                                    data: { subByValue: subByValue, chkSubValue: chkSubValue, id: bookIssueNo },
                                    dataType: "json", 
                                    success: function (response) {
                                        if (response.success) {
                                            
                                            alert(response.message);
                                        } else {
                                           
                                            console.error(response.message);
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        console.error("AJAX request failed:", error);
                                    }
                                });

                            }
                        }
                    </script>


                    </div>
                </div>
            </div>
     
    </div>
  
</body>
</html>

