@using System.Security.Claims;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using System.IO;
@model NSSERP.Areas.NationalGangotri.Models.CourierMaster
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserDepartment = User.FindFirst("Department")?.Value;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="..."></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="..."></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="..."></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <style>
        .card-header.sticky-top {
            background-color: #fff;
            z-index: 1000;
            border-bottom: 1px solid #dee2e6;
        }
    </style>
    @section scripts {
        <script>
            function convertToUpperCase(input) {
                input.value = input.value.toUpperCase();
            }
        </script>

    }
</head>
<body>
    <div class="card">
        @if (Model.msg != null || Model.msg != "")
        {
            ViewBag.msg = Model.msg;
        }
        <div class="card-header">
            <div class="row">
                <div class="col text-left">
                    <h5>
                        <span style="color:#1cb8a1">COURIER</span>
                        <span style="color:#28166f">MASTER</span>
                    </h5>
                </div>
                <div class="col text-left">
                    <h5>
                        <span style="color:#1cb8a1">INDIAN GANGOTRI</span>
                    </h5>
                </div>
                <div class="col-2 text-right">
                    <a title="Go Back Home" href="/Gangotri/Home" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form id="formdata" action="/NationalGangotri/CourierMaster/Home" method="post">
                @Html.AntiForgeryToken()

                <fieldset id="fieldset" class="show border rounded p-3">
                    <legend style="font-weight:bold;" class="d-flex justify-content-between align-items-center text-left">
                        <button class="btn btn-link collapse-icon" type="button" data-toggle="collapse" data-target="#fieldsetcontent" aria-expanded="false" aria-controls="fieldsetcontent">
                            <span id="collapseIcon" class="">&#43;</span>
                            <span style="font-size: larger;color:#1cb8a1;font-weight:bold;font-weight:bold;">Courier Details</span>
                        </button>
                    </legend>

                    <div id="fieldsetcontent" class="nested-form-container collapse show">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="Courier_Name" class="form-label">Courier Code</label>
                                    <input name="Courier_Id" readonly value="@Model.Courier_Id" class="form-control" />
                                    <span asp-validation-for="Courier_Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="Courier_Name" class="form-label"><span style="color: red;">*</span>Courier Name</label>
                                    <input name="Courier_Name" required value="@Model.Courier_Name" class="form-control" />
                                    <span asp-validation-for="Courier_Name" class="text-danger"></span>
                                </div>
                            </div>


                        </div>


                    </div>


                </fieldset>

                <fieldset id="fieldset2" class="show border rounded p-3">
                    <legend style="font-weight:bold;" class="d-flex justify-content-between align-items-center text-left">
                        <button class="btn btn-link collapse-icon" type="button" data-toggle="collapse" data-target="#fieldsetcontent2" aria-expanded="false" aria-controls="fieldsetcontent2">
                            <span id="collapseIcon" class="">&#43;</span>
                            <span style="font-size: larger;color:#1cb8a1;font-weight:bold;font-weight:bold;">Local Address Details</span>
                        </button>
                    </legend>

                    <div id="fieldsetcontent2" class="nested-form-container collapse show">

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="Courier_Person" class="form-label">Contact Person</label>
                                    <input name="Courier_Person" value="@Model.Courier_Person" class="form-control" />
                                    <span asp-validation-for="Courier_Person" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="Courier_Address" class="form-label">Address</label>
                                    <textarea name="Courier_Address" rows="1" class="form-control">@Model.Courier_Address</textarea>

                                    <span asp-validation-for="Courier_Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="Courier_Phone" class="form-label">Phone No.</label>
                                    <input name="Courier_Phone" value="@Model.Courier_Phone" class="form-control" />
                                    <span asp-validation-for="Courier_Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="Courier_Mobile" class="form-label">Mobile No</label>
                                    <input name="Courier_Mobile" value="@Model.Courier_Mobile" class="form-control" />
                                    <span asp-validation-for="Courier_Mobile" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="Courier_Email" class="form-label">Email-ID</label>
                                    <input name="Courier_Email" @Model.Courier_Email class="form-control" />
                                    <span asp-validation-for="Courier_Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="Courier_Fax" class="form-label">Fax No.</label>
                                    <input name="Courier_Fax" value="@Model.Courier_Fax" class="form-control" />
                                    <span asp-validation-for="Courier_Fax" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>


                <fieldset id="fieldset3" class="show border rounded p-3">
                    <legend style="font-weight:bold;" class="d-flex justify-content-between align-items-center text-left">
                        <button class="btn btn-link collapse-icon" type="button" data-toggle="collapse" data-target="#fieldsetcontent3" aria-expanded="false" aria-controls="fieldsetcontent3">
                            <span id="collapseIcon" class="">&#43;</span>
                            <span style="font-size: larger;color:#1cb8a1;font-weight:bold;font-weight:bold;">Corporate Address Details</span>
                        </button>
                    </legend>

                    <div id="fieldsetcontent3" class="nested-form-container collapse show">

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="C_Person" class="form-label">Contact Person</label>
                                    <input name="C_Person" value="@Model.C_Person" class="form-control" />
                                    <span asp-validation-for="C_Person" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="C_Address" class="form-label">Address</label>
                                    <textarea name="C_Address" rows="1" class="form-control">@Model.C_Address</textarea>
                                    <span asp-validation-for="C_Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="C_Phone" class="form-label">Phone No.</label>
                                    <input name="C_Phone" value="@Model.C_Phone" class="form-control" />
                                    <span asp-validation-for="C_Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="C_Mobile" class="form-label">Mobile No.</label>
                                    <input name="C_Mobile" value="@Model.C_Mobile" class="form-control" />
                                    <span asp-validation-for="C_Mobile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="C_Email" class="form-label">Email-ID</label>
                                    <input name="C_Email" value="@Model.C_Email" class="form-control" />
                                    <span asp-validation-for="C_Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label name="C_Fax" class="form-label">Fax No.</label>
                                    <input name="C_Fax" value="@Model.C_Fax" class="form-control" />
                                    <span asp-validation-for="C_Fax" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Status</label>
                                    <div class="form-check">
                                        <input name="C_Active" type="checkbox" value="true" class="form-check-input" id="activeCheckbox" @(Model.C_Active.GetValueOrDefault() ? "checked" : "") />
                                        <label class="form-check-label" for="activeCheckbox">Active</label>
                                    </div>
                                    <input name="C_Active" type="hidden" value="false" />
                                    <span asp-validation-for="C_Active" class="text-danger"></span>
                                </div>
                            </div>



                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label name="Tracking_Link" class="form-label">Tracking Link</label>
                                    <input name="Tracking_Link" value="@Model.Tracking_Link" class="form-control" />
                                    <span asp-validation-for="Tracking_Link" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                    </div>
                </fieldset>


                <br />
                <div class="container-lg">
                    <div class="text-center">

                        @{
                            string BtnName = string.Empty;
                            string viewParam = Context.Request.Query["view"];
                            bool isViewEnabled = !string.IsNullOrEmpty(viewParam) && viewParam.ToLower() == "true";

                            string editParam = Context.Request.Query["edit"];
                            bool isEditEnabled = !string.IsNullOrEmpty(editParam) && editParam.ToLower() == "true";

                            if (isEditEnabled)
                            {
                                BtnName = "Update";
                            }
                            else
                            {
                                BtnName = "Submit";
                            }
                        }

                        <button type="submit" class="btn btn-success" style="@(isViewEnabled ? "display:none;" : "")">
                            <i class="fas fa-check"></i>@BtnName
                        </button>

                        <button type="reset" class="btn btn-danger">Cancel</button>
                        <a title="Go Back Home" href="/Gangotri/Home" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>




