@using System.Security.Claims;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using System.IO;
@model NSSERP.Areas.NationalGangotri.Models.PurposeMaster;
@{
    ViewData["Title"] = "PurposeMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";   
    var UserDepartment = User.FindFirst("Department")?.Value;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

    <style>
        .card-header.sticky-top {
            background-color: #fff;
            z-index: 1000;
            border-bottom: 1px solid #dee2e6;
        }
    </style>
    @section scripts {
        <script>
            function convertToUpperCase(input) {
                input.value = input.value.toUpperCase();
            }
        </script>

    }
</head>
<body>
    <div class="card">
        @if (Model.msg != null || Model.msg != "")
        {
            ViewBag.msg = Model.msg;
        }
        <div class="card-header">
            <div class="row">
                <div class="col text-left">
                    <h5>
                        <span style="color:#1cb8a1">PURPOSE</span>
                        <span style="color:#28166f">MASTER</span>
                    </h5>
                </div>
                <div class="col text-left">
                    <h5>
                        <span style="color:#1cb8a1">INDIAN GANGOTRI</span>
                    </h5>
                </div>
                <div class="col-2 text-right">
                    <a title="Go Back Home" href="/Gangotri/Home" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form id="formdata" action="/NationalGangotri/PurposeMaster/Home" method="post">
                @Html.AntiForgeryToken()           
                
               
           
                <fieldset id="Purposefieldset" class="show border rounded p-3">
                    <legend style="font-weight:bold;" class="d-flex justify-content-between align-items-center text-left">
                        <button class="btn btn-link collapse-icon" type="button" data-toggle="collapse" data-target="#PurposefieldsetContent" aria-expanded="false" aria-controls="PurposefieldsetContent">
                            <span id="collapseIcon" class="">&#43;</span>
                            <span style="font-size: larger;color:#1cb8a1;font-weight:bold;font-weight:bold;">Purpose Details</span>
                        </button>
                    </legend>

                    <div id="PurposefieldsetContent" class="nested-form-container collapse show">

                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label>Purpose Code<span style="color: red;">*</span></label>
                                <textarea class="form-control" readonly name="Purpose_id" oninput="convertToUpperCase(this)" rows="1">@Model.Purpose_id</textarea>
                                <div style="color:#1cb8a1;font-weight:bold"></div>
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Purpose</label>
                                <textarea class="form-control" required name="Purpose" oninput="convertToUpperCase(this)" asp-for="Purpose" placeholder="enter purpose" rows="1">@Model.Purpose</textarea>
                                <div style="color:#1cb8a1;font-weight:bold"></div>
                            </div>
                            <div class="form-group col-lg-3">
                                <br />
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="chk" name="front_end" value="Y" @(Model.front_end == 'Y' ? "checked" : "") />
                                    <input type="hidden" name="front_end" value="N" />
                                    <label class="form-check-label" for="chk">Check Show On Website Front End</label>
                                </div>
                            </div>                        


                            <div class="form-group col-lg-3">
                                <label >Website Front End Order</label>
                                <input type="text" value="@Model.From_end_Order" name="From_end_Order" class="form-control" />
                            </div>                     


                        </div>
                    </div>

                </fieldset>

                <br />
                <div class="container-lg">
                    <div class="text-center">                     

                        @{
                            string BtnName = string.Empty;
                            string viewParam = Context.Request.Query["view"];
                            bool isViewEnabled = !string.IsNullOrEmpty(viewParam) && viewParam.ToLower() == "true";

                            string editParam = Context.Request.Query["edit"];
                            bool isEditEnabled = !string.IsNullOrEmpty(editParam) && editParam.ToLower() == "true";

                            if (isEditEnabled)
                            {
                                BtnName = "Update";
                            }
                            else
                            {
                                BtnName = "Submit";
                            }
                        }

                        <button type="submit" class="btn btn-success" style="@(isViewEnabled ? "display:none;" : "")">
                            <i class="fas fa-check"></i>@BtnName
                        </button>
                    
                        <button type="reset" class="btn btn-danger">Cancel</button>
                        <a title="Go Back Home" href="/Gangotri/Home" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>




