@using System.Security.Claims;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using System.IO;
@model NSSERP.Areas.ReceiptBook.Models.ReceiptBookPrinting;
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserDepartment = User.FindFirst("Department")?.Value;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="..."></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="..."></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="..."></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <style>
        .card-header.sticky-top {
            background-color: #fff;
            z-index: 1000;
            border-bottom: 1px solid #dee2e6;
        }
    </style>
    @section scripts {
        <script>
            function convertToUpperCase(input) {
                input.value = input.value.toUpperCase();
            }
        </script>

    }
</head>
<body>
    <div class="card">
        @if (Model.msg != null || Model.msg != "")
        {
            ViewBag.msg = Model.msg;
        }
        <div class="card-header">
            <div class="row">
                <div class="col text-left">
                    <h5>
                        <span style="color:#1cb8a1">RECEIPT BOOK</span>
                        <span style="color:#28166f">PRINTING MASTER</span>
                    </h5>
                </div>
                <div class="col text-left">
                    <h5>
                        <span style="color:#1cb8a1">INDIAN GANGOTRI</span>
                    </h5>
                </div>
                <div class="col-2 text-right">
                    <a title="Go Back Home" href="/ReceiptBook/ReceiptBookPrinting/Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form id="formdata" action="/ReceiptBook/ReceiptBookPrinting/Home" method="post">
                @Html.AntiForgeryToken()

                <fieldset id="fieldset" class="show border rounded p-3">
                    <legend style="font-weight:bold;" class="d-flex justify-content-between align-items-center text-left">
                        <button class="btn btn-link collapse-icon" type="button" data-toggle="collapse" data-target="#fieldsetcontent" aria-expanded="false" aria-controls="fieldsetcontent">
                            <span id="collapseIcon" class="">&#43;</span>
                            <span style="font-size: larger;color:#1cb8a1;font-weight:bold;font-weight:bold;">Receipt Book Printing Details</span>
                        </button>
                    </legend>

                    <div id="fieldsetcontent" class="nested-form-container collapse show">

                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label>Receipt Book No</label>
                                <input class="form-control" readonly name="receipt_book_no" type="text" value="@Model.receipt_book_no">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Print Date</label>
                                <input class="form-control" required oninput="convertToUpperCase(this)" name="date_print" type="date" value="@Model.date_print">
                            </div>

                            <div class="form-group col-lg-3">
                                <label>Receipt From</label>
                                <input class="form-control" name="receipt_from" type="number" value="@Model.receipt_from">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Receipt To</label>
                                <input class="form-control" name="receipt_to" type="number" value="@Model.receipt_to">
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="tp">Type</label>
                                <select required class="form-control" name="receiptbook_type" id="tp">
                                    <option value="0">Select</option>
                                    @if (Model.ReceiptBookTypeList != null)
                                    {
                                        foreach (var order in Model.ReceiptBookTypeList)
                                        {
                                            <option value="@order.RB_Type" @(Model.tp == order.RB_Type ? "selected" : "")>@order.RB_Type</option>
                                        }
                                    }
                                </select>
                            </div>



                            <div class="form-group col-lg-3">
                                <label>Count</label>
                                <input class="form-control" name="total_receipt" type="number" value="@Model.total_receipt">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Used</label>
                                <input class="form-control" name="total_receipt_used" value="@Model.total_receipt_used" readonly type="text">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Cancel</label>
                                <input class="form-control" name="total_receipt_cancel" type="text" value="@Model.total_receipt_cancel">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Balance</label>
                                <input class="form-control" name="balance_from" type="text" value="@Model.balance_from">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Issue ID</label>
                                <input class="form-control" readonly name="p_book_rrs_no" type="text" value="@Model.p_book_rrs_no">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Receipt Book Type</label>
                          
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tp" id="radio3" value="FCRA" @(Model.receiptbook_type == "FCRA" ? "checked" : "")>
                                    <label class="form-check-label" for="radio3">
                                        FCRA
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tp" id="radio4" value="P" @(Model.receiptbook_type == "P" ? "checked" : "")>
                                    <label class="form-check-label" for="radio4">
                                        Provisional
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tp" id="radio5" value="Donationbox" @(Model.receiptbook_type == "Donationbox" ? "checked" : "")>
                                    <label class="form-check-label" for="radio5">
                                        Donation Box
                                    </label>
                                </div>
                               
                            </div>


                        </div>
                    </div>

                </fieldset>

                <br />
                <div class="container-lg">
                    <div class="text-center">

                        @{
                            string BtnName = string.Empty;
                            string viewParam = Context.Request.Query["view"];
                            bool isViewEnabled = !string.IsNullOrEmpty(viewParam) && viewParam.ToLower() == "true";

                            string editParam = Context.Request.Query["edit"];
                            bool isEditEnabled = !string.IsNullOrEmpty(editParam) && editParam.ToLower() == "true";

                            if (isEditEnabled)
                            {
                                BtnName = "Update";
                            }
                            else
                            {
                                BtnName = "Submit";
                            }
                        }

                        <button type="submit" class="btn btn-success" style="@(isViewEnabled ? "display:none;" : "")">
                            <i class="fas fa-check"></i>@BtnName
                        </button>

                        <button type="reset" class="btn btn-danger">Cancel</button>
                        <a title="Go Back Home" href="/ReceiptBook/ReceiptBookPrinting/Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>




