@model NSSERP.Areas.Masters.Models.DistrictMaster
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="..." crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="..."></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="..."></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2>Create New District</h2>
        </div>
        <div class="card-body">
            <a href="/Masters/DistrictMaster/Index" class="btn btn-warning"><i class="fa fa-arrow-left"></i> Back</a>

            <form asp-action="Create" method="post" class="mt-3">
                <div class="form-group">
                    <label for="DistrictName">District Name:</label>
                    <input type="text" class="form-control" name="DistrictName" required />
                </div>
                <div class="form-group">
                    <label for="CountryID">Country:</label>
                    <select class="form-control"  required id="CountryID" name="CountryID">
                        <option value="@Model.CountryID" selected disabled>Select Country</option>
                        @foreach (var country in Model.Countrys)
                        {
                            <option value="@country.Country_Code">@country.Country_Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label  for="StateID">State:</label>
                    <select id="StateID" class="form-control" required name="StateID">
                        <option value="@Model.StateID" selected disabled>Select State</option>
                        @foreach (var state in Model.States)
                        {
                            <option value="@state.StateID">@state.StateName</option>
                        }
                    </select>
                </div>
               @*  <div class="form-group">
                    <label for="CityID">City:</label>
                    <select id="CityID" class="form-control" required name="CityID">
                        <option value="" selected disabled>Select City</option>
                        @foreach (var city in Model.Citys)
                        {
                            <option value="@city.CityID">@city.CityName</option>
                        }
                    </select>
                </div> *@
                <div class="form-group">
                    <label for="IsActive">Is Active:</label>
                    <select class="form-control" name="IsActive">
                        <option value="Y">Active</option>
                        <option value="N">Inactive</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#CountryID').change(function () {
            var countryId = $(this).val();
            $.ajax({
                url: '/Masters/DistrictMaster/GetStatesByCountryJson',
                method: 'GET',
                data: { countryId: countryId },
                success: function (data) {
                    console.log('Received data:', data);

                    $('#StateID').empty();
                    $('#StateID').append('<option value="">Select State</option>');

                    // Use camelCase when accessing properties
                    $.each(data, function (index, state) {
                        $('#StateID').append('<option value="' + state.stateID + '">' + state.stateName + '</option>');
                    });
                },
                error: function () {
                    console.log('Error fetching states.');
                }
            });
        });
    });  


</script>
<script>
    //-------------------------------For City-----------------------------------------------------
    $(document).ready(function () {
        $('#StateID').change(function () {
            var stateId = $(this).val();
            $.ajax({
                url: '/Masters/DistrictMaster/GetCityInJSon',
                method: 'GET',
                data: { stateId: stateId },
                success: function (data) {
                    console.log('Received data:', data);

                    $('#CityID').empty();
                    $('#CityID').append('<option value="">Select City</option>');

                    // Use camelCase when accessing properties
                    $.each(data, function (index, city) {
                        $('#CityID').append('<option value="' + city.cityID + '">' + city.cityName + '</option>');
                    });
                },
                error: function () {
                    console.log('Error fetching cities.');
                }
            });
        });
    });

</script>