@using System.Security.Claims;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using System.IO;
@model NSSERP.Areas.NationalGangotri.Models.BackOfficeModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var temporaryFolder = Href("/TempDocDonationReceive");
    var rootUrl = Url.Content("~");
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="..."></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="..."></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="..."></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <style>
        .card-header.sticky-top {
            background-color: #fff; /* Set a background color for the sticky header */
            z-index: 1000; /* Set a higher z-index to ensure it appears above other elements */
            border-bottom: 1px solid #dee2e6; /* Add a border to separate it from the content */
        }
    </style>
    @section scripts {
        <script>
            function convertToUpperCase(input) {
                input.value = input.value.toUpperCase();
            }
        </script>
    }
</head>
<body>
    <div class="card">
        @if (Model.msg != null)
        {
            ViewBag.msg = Model.msg;
        }
        <div class="card-header">
            <div class="row">
                <div class="col text-left">
                    <h5>
                        <span style="color:#1cb8a1">BACK OFFICE RECEIVE ID </span>
                        <span style="color:#28166f">TRANSACTION</span>
                    </h5>
                </div>
                <div class="col text-left">
                    <h5>
                        <span style="color:#1cb8a1">INDIAN GANGOTRI</span>
                    </h5>
                </div>
                <div class="col-2 text-right">
                    <a title="Go Back Home" href="/NationalGangotri/DonationReceiveMaterDetails" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form id="BackOfficeForm" action="/NationalGangotri/BackOfficeReceiveIDTransaction/Index" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend style="font-weight:bold;" class="card">Donation Details</legend>

                    <div class="nested-form-container">
                        <div class="row">

                            <div class="form-group col-lg-3">
                                <label for="Receive ID">Receive ID</label>
                                <input type="text" readonly class="form-control" id="ReceiveID" value="@Model.ReceiveID" asp-for="ReceiveID" name="ReceiveID">
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="Receive Date">Receive Date</label>
                                <input type="text" readonly value="@Model.ReceiveDate.GetValueOrDefault().ToString("dd-MM-yyyy")" class="form-control" id="ReceiveDate" asp-for="ReceiveDate" name="ReceiveDate">
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="FullName" class="mb-2">Donor Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="custom-select" disabled id="NamePrefix" required name="NamePrefix" asp-for="NamePrefix">
                                            <option value="Select" @(Model != null && Model.NamePrefix == "Select" ? "selected" : "")>Select</option>
                                            <option value="MR." @(Model != null && Model.NamePrefix == "MR." ? "selected" : "")>MR.</option>
                                            <option value="MS." @(Model != null && Model.NamePrefix == "MS." ? "selected" : "")>MS.</option>
                                            <option value="SHRI" @(Model != null && Model.NamePrefix == "SHRI" ? "selected" : "")>SHRI</option>
                                            <option value="MRS." @(Model != null && Model.NamePrefix == "MRS." ? "selected" : "")>MRS.</option>
                                            <option value="SMT." @(Model != null && Model.NamePrefix == "SMT." ? "selected" : "")>SMT.</option>
                                            <option value="MISS" @(Model != null && Model.NamePrefix == "MISS" ? "selected" : "")>MISS</option>
                                            <option value="M/s" @(Model != null && Model.NamePrefix == "M/s" ? "selected" : "")>M/s</option>
                                            <option value="DR." @(Model != null && Model.NamePrefix == "DR." ? "selected" : "")>DR.</option>
                                            <option value="ER." @(Model != null && Model.NamePrefix == "ER." ? "selected" : "")>ER.</option>
                                            <option value="COL." @(Model != null && Model.NamePrefix == "COL." ? "selected" : "")>COL.</option>
                                            <option value="LT. COL." @(Model != null && Model.NamePrefix == "LT. COL." ? "selected" : "")>LT. COL.</option>
                                            <option value="CAPT." @(Model != null && Model.NamePrefix == "CAPT." ? "selected" : "")>CAPT.</option>
                                            <option value="MAJOR" @(Model != null && Model.NamePrefix == "MAJOR" ? "selected" : "")>MAJOR</option>
                                            <option value="SUBEDAR" @(Model != null && Model.NamePrefix == "SUBEDAR" ? "selected" : "")>SUBEDAR</option>
                                            <option value="PROF." @(Model != null && Model.NamePrefix == "PROF." ? "selected" : "")>PROF.</option>
                                            <option value="Master" @(Model != null && Model.NamePrefix == "Master" ? "selected" : "")>Master</option>
                                            <option value="BY" @(Model != null && Model.NamePrefix == "BY" ? "selected" : "")>BY</option>
                                            <option value="PANDIT" @(Model != null && Model.NamePrefix == "PANDIT" ? "selected" : "")>PANDIT</option>
                                            <option value="BRIGADIER" @(Model != null && Model.NamePrefix == "BRIGADIER" ? "selected" : "")>BRIGADIER</option>
                                            <option value="ACHARYA" @(Model != null && Model.NamePrefix == "ACHARYA" ? "selected" : "")>ACHARYA</option>
                                            <option value="WING COMMANDER" @(Model != null && Model.NamePrefix == "WING COMMANDER" ? "selected" : "")>WING C.</option>
                                            <option value="EX.SUB.MAJ" @(Model != null && Model.NamePrefix == "EX.SUB.MAJ" ? "selected" : "")>EX.SUB.MAJ</option>
                                            <!-- Add more options as needed -->
                                        </select>
                                    </div>
                                    <input type="text" readonly value="@Model.FullName" class="form-control" asp-for="FullName" id="FullName" name="FullName" oninput="convertToUpperCase(this)">
                                </div>
                            </div>

                            <div class="form-group col-lg-3">
                                <label for="Prov. No">Prov. No</label>
                                <input class="form-control" readonly value="@Model.ProvNo" id="ProvNo" type="text" name="ProvNo" asp-for="ProvNo" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="Prov. Date">Prov. Date</label>
                                <input class="form-control" readonly value="@Model.ProvDate.GetValueOrDefault().ToString("dd-MM-yyyy")" id="ProvDate" type="text" name="ProvDate" asp-for="ProvDate" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="">Person Name</label>
                                <input class="form-control" readonly value="@Model.PersonName" id="PersonName" type="text" name="PersonName" asp-for="PersonName" />
                            </div>

                            <div class="form-group col-lg-3">
                                <label for="PaymentMode">Donation Mode</label>
                                <select id="PaymentMode" disabled class="form-control" name="PaymentMode" asp-for="PaymentMode">
                                    <option value="" selected disabled>Select Donation Mode</option>
                                    @if (Model != null)
                                    {
                                        foreach (var paymentmode in Model.paymentModeList)
                                        {
                                            <option value="@paymentmode.PaymentModeID" data-paymentmode="@paymentmode.PaymentModeName" @(Model.PaymentModeID == paymentmode.PaymentModeID ? "selected" : "")>@paymentmode.PaymentModeName</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group col-lg-3" id="currencyAmountFields">
                                <label for="currency" class="mb-2">Donation Amount</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select disabled class="custom-select" asp-for="CurrencyID" id="CurrencyID" name="CurrencyID">
                                            <option value="" disabled>Select</option>
                                            @if (Model != null)
                                            {
                                                @foreach (var currency in Model.currenciesList)
                                                {
                                                    <option value="@currency.CurrencyID" data-currencycode="@currency.CurrencyCode" @(Model.CurrencyID == currency.CurrencyID ? "selected" : "")>@currency.CurrencyCode</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                    <input readonly class="form-control" value="@Model.TotalAmount" id="TotalAmount" type="text" name="TotalAmount" asp-for="TotalAmount" />

                                </div>

                            </div>

                            <div class="form-group col-lg-3">
                                <label for="">Amount In Words</label>
                                <textarea readonly class="form-control" id="TotalAmountInWords" name="TotalAmountInWords" rows="1">@Model.TotalAmountInWords</textarea>
                            </div>
                            @if (Model.OrderTypeName != null)
                            {

                                <div class="form-group col-lg-3" id="DivOrderType">
                                    <label for="">Order Type</label>
                                    <select disabled class="custom-select" asp-for="OrderTypeID" id="OrderType" name="OrderTypeID">
                                        <option value="">Select</option>
                                        @if (Model.ordertypelist != null)
                                        {
                                            @foreach (var order in Model.ordertypelist)
                                            {
                                                <option value="@order.OrderTypeID" data-currencycode="@order.OrderTypeName" @(Model.OrderTypeID.GetValueOrDefault() == order.OrderTypeID ? "selected" : "")>@order.OrderTypeName</option>
                                            }
                                        }

                                    </select>
                                    <input type="hidden" id="hdnorderType" name="OrderTypeName">
                                    <script>
                                        $(document).ready(function () {

                                            $('#OrderType').change(function () {
                                                var selectedText = $('#OrderType option:selected').text();
                                                var selectedValue = $('#OrderType').val();
                                                $('#hdnorderType').val(selectedText);
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="form-group col-lg-3" id="DivOrderNumber">
                                    <label for="">Order Number</label>
                                    <input class="form-control" readonly value="@Model.OrderNumber" id="OrderNumber" placeholder="please enter order no." type="text" name="OrderNumber" asp-for="OrderNumber" />
                                </div>
                            }

                        </div>

                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="display:none" id="bankDetailsTable">
                                    <thead>
                                        <tr>
                                            <th>Ref No</th>
                                            <th>Donation Mode</th>
                                            <th>Bank Name</th>
                                            <th>Cheque/Draft Date</th>
                                            <th>Cheque/Draft No.</th>
                                            <th>Deposit Bank</th>
                                            <th>Deposit Date</th>
                                            <th>Currency</th>
                                            <th>Amount</th>
                                            <th>PDC Cheque</th>
                                            <th>Document</th>
                                            <th style="display:none"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal fade" id="filePreviewModal" tabindex="-1" role="dialog" aria-labelledby="filePreviewModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="filePreviewModalLabel">File Preview</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img id="previewImage" src="" alt="File Preview" style="max-width: 100%; max-height: 100%;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            $(document).ready(function () {

                                // Parse the JSON data from the model for bank details
                                var bankDetailsListJson = @Html.Raw(Model.BankDetailsListJson);

                                // If BankDetailsListJson is null, use data from the model directly
                                if (!bankDetailsListJson) {
                                    // Use data from the model
                                    bankDetailsListJson = @Html.Raw(JsonConvert.SerializeObject(Model.BankDetailsList));
                                }

                                if (bankDetailsListJson && bankDetailsListJson.length > 0) {
                                    // Loop through each item in the JSON array
                                    $.each(bankDetailsListJson, function (index, bankDetails) {
                                        // Map property names if needed
                                        var mappedBankDetails = {
                                            REF_ID: bankDetails.REF_ID,
                                            DonationMode: bankDetails.DonationMode,
                                            BankName: bankDetails.BankName,
                                            ChequeOrDraftDate: bankDetails.ChequeOrDraftDate,
                                            ChequeOrDraftNo: bankDetails.ChequeOrDraftNo,
                                            DepositeBankName: bankDetails.DepositeBankName,
                                            DepositeDate: bankDetails.DepositeDate,
                                            CurrencyCode: bankDetails.CurrencyCode,
                                            Amount: bankDetails.Amount,
                                            IsPdcCheque1: bankDetails.IsPdcCheque1,
                                            Doc: bankDetails.FileName

                                        };

                                        // Add a new row to the table
                                        OnModeladdBankDetailsRow(mappedBankDetails);
                                    });

                                    // Show the table after adding data
                                    $("#bankDetailsTable").show();
                                }

                                var temporaryFolder = '@temporaryFolder';

                                function OnModeladdBankDetailsRow(bankDetails) {
                                    var MainFolder1 = '@rootUrl/DocDonationReceive';
                                    var newRow = "<tr>" +
                                        "<td class='filename'><a href='#' class='ref-id-link' data-ref-id='" + bankDetails.REF_ID + "'>" + bankDetails.REF_ID + "</a></td>" +

                                        "<td>" + bankDetails.DonationMode + "</td>" +
                                        "<td>" + bankDetails.BankName + "</td>" +
                                        "<td>" + bankDetails.ChequeOrDraftDate + "</td>" +
                                        "<td>" + bankDetails.ChequeOrDraftNo + "</td>" +
                                        "<td>" + bankDetails.DepositeBankName + "</td>" +
                                        "<td>" + bankDetails.DepositeDate + "</td>" +
                                        "<td>" + bankDetails.CurrencyCode + "</td>" +
                                        "<td>" + bankDetails.Amount + "</td>" +
                                        "<td>" + bankDetails.IsPdcCheque1 + "</td>" +
                                        "<td><a href='" + MainFolder1 + "/" + bankDetails.Doc + "' target='_blank'>View</a></td>" +
                                        "<td style='display:none;' class='filename'>" + bankDetails.Doc + "</td>" +
                                        // "<td><button class='btn btn-danger btn-sm delete-row'>Delete</button></td>" +
                                        "</tr>";

                                    $("#bankDetailsTable tbody").append(newRow);
                                }



                                $("#bankDetailsTable").on("click", ".delete-row", function () {
                                    // Reset the flag and added donation mode when a row is deleted
                                    donationModeAdded = false;
                                    addedDonationMode = null;
                                    currencyAdded = false;
                                    addedcurrency = true;

                                    $(this).closest("tr").remove();

                                    // Hide the table if there is no data after deletion
                                    if ($("#bankDetailsTable tbody tr").length === 0) {
                                        $("#bankDetailsTable").hide();
                                    }
                                });

                                $("#bankDetailsTable").on("click", ".ref-id-link", function (e) {
                                    e.preventDefault(); // Prevent the default behavior (e.g., navigating to another page)

                                    // Get the REF_ID from the data attribute
                                    var refId = $(this).data("ref-id");

                                    // Set the RefNo input field value
                                    $("#RefNo").val(refId);

                                    // Remove the highlight class from all rows
                                    $("#bankDetailsTable tbody tr").removeClass("highlight");

                                    // Highlight the selected row
                                    $(this).closest("tr").addClass("highlight");

                                    // Show the div_refNo
                                    // $("#div_refNo").show();
                                });
                            });
                        </script>
                        <style>
                            /* Existing styles */

                            .highlight {
                                background-color: #FFFF99; /* Change the background color to your desired highlight color */
                            }
                        </style>
                    </div>
                </fieldset>

                <fieldset>
                    <legend style="font-weight:bold;" class="card">Deposit Details</legend>

                    <div class="nested-form-container">
                        <div class="row">
                            <div style="display:none;" id="div_refNo" class="form-group col-lg-1">
                                <label for="RefNo">Ref No</label>
                                <input readonly class="form-control" id="RefNo" type="number" name="RefNo" asp-for="RefNo" />
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="DepositePaymentMode">Deposit Mode</label>
                                <select id="DepositePaymentMode" required class="form-control" name="DepositePaymentMode" asp-for="DepositePaymentMode">
                                    <option value="" selected disabled>Select Deposit Mode</option>
                                    <option value="pay-in-slip" data-paymentmode="PAY-IN-SLIP">PAY-IN-SLIP</option>
                                    <option value="debit-to-shadhak" data-paymentmode="Debit To Shadhak">Debit To Shadhak</option>
                                    <option value="debit-to-person" data-paymentmode="Debit to Person">Debit to Person</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-2" id="bankNameContainer">
                                <label for="bankName">Deposit Bank Name</label>
                                <select class="form-control" name="BankID" id="BankID1" asp-for="BankID">
                                    <option value="" selected disabled>Select Bank</option>
                                    @if (Model != null)
                                    {
                                        @foreach (var bank in Model.depositBankmaster)
                                        {
                                            <option value="@bank.bank_code">@bank.Bank_Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group col-lg-2" id="shadhakContainer" style="display: none;">
                                <label for="shadhak">Select Shadhak</label>
                                <select class="form-control" name="Shadhak" id="Shadhak">

                                    <option value="">Select</option>
                                    @if (Model.EmployeeDetils != null)
                                    {
                                        @foreach (var order in Model.EmployeeDetils)
                                        {
                                            <option value="@order.EmpID" data-currencycode="@order.EmpName">@order.EmpName</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group col-lg-2" id="personContainer" style="display: none;">
                                <label for="person">Select Person</label>
                                <select class="form-control" name="Person" id="Person">
                                    <option value="">Select</option>
                                    @if (Model.PersonDetails != null)
                                    {
                                        @foreach (var order in Model.PersonDetails)
                                        {
                                            <option value="@order.PersonID" data-currencycode="@order.PersonName">@order.PersonName</option>
                                        }
                                    }
                                </select>
                            </div>


                            <script>
                                $(document).ready(function () {
                                    $('#DepositePaymentMode').change(function () {
                                        var selectedOption = $(this).val();
                                        if (selectedOption === 'debit-to-shadhak') {
                                            $('#bankNameContainer').hide();
                                            $('#shadhakContainer').show();
                                            $('#personContainer').hide();
                                        } else if (selectedOption === 'debit-to-person') {
                                            $('#bankNameContainer').hide();
                                            $('#shadhakContainer').hide();
                                            $('#personContainer').show();
                                        } else {
                                            $('#bankNameContainer').show();
                                            $('#shadhakContainer').hide();
                                            $('#personContainer').hide();
                                        }
                                    });
                                });
                            </script>


                            <div class="form-group col-lg-2">
                                <label for="DepositeDate">Deposit Date</label>
                                <input class="form-control" id="DepositeDate" type="date" name="DepositeDate" asp-for="DepositeDate" />
                            </div>
                            <div class="form-group col-lg-2" id="currencyAmountFields">
                                <label for="currency" class="mb-2">Deposit Amount</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="custom-select" asp-for="DepositeCurrencyID" id="DepositeCurrencyID" name="DepositeCurrencyID" required>
                                            <option value="" disabled>Select</option>
                                            @if (Model != null)
                                            {
                                                @foreach (var currency in Model.currenciesList)
                                                {
                                                    <option value="@currency.CurrencyID" data-currencycode="@currency.CurrencyCode" @(Model.CurrencyID == currency.CurrencyID ? "selected" : "")>@currency.CurrencyCode</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                    <input type="number" placeholder="Deposit Amount" asp-for="DepositeAmount" name="DepositeAmount" class="form-control" id="DepositeAmount">
                                </div>
                            </div>
                            <div class="form-group col-lg-1">
                                <label for="">BankID</label>
                                <input class="form-control" value="" id="DepositeBankID" type="text" placeholder="BankID" name="DepositeBankID" asp-for="DepositeBankID" />
                            </div>
                            <div class="form-group col-lg-1">
                                <label>Transaction ID</label>
                                <input class="form-control" id="DepositeTrasactionID" type="text" placeholder="Tranx.ID" name="DepositeTrasactionID" asp-for="DepositeTrasactionID" />
                            </div>
                            <div class="form-group col-lg-1" id="divMultiPayInSlip">
                                <label for="MultiPayInSlip" id="lbl_MultiPayInSlip">Pay-In-Slip</label>
                                <input type="file" asp-for="DocPayInSlip" name="DocPayInSlip" id="filemultipayInSlip" accept="image/*,application/pdf" />
                                <input type="hidden" id="hiddenTempFilename" />
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $('#filemultipayInSlip').change(function () {
                                        var fileInput = this;
                                        var file = fileInput.files[0];

                                        if (file) {
                                            // Create FormData object and append the file to it
                                            var formData = new FormData();
                                            formData.append('DocPayInSlip', file);

                                            // Perform AJAX request
                                            $.ajax({
                                                url: '/NationalGangotri/BackOfficeReceiveIDTransaction/TemporaryUploadFile',
                                                type: 'POST',
                                                data: formData,
                                                processData: false,
                                                contentType: false,
                                                success: function (response) {

                                                    $('#hiddenTempFilename').val(response.uniqueFileName);

                                                    // Handle success, if needed
                                                    console.log('File uploaded successfully:', response);
                                                },
                                                error: function (error) {
                                                    // Handle error
                                                    console.log('Error uploading file:', error);
                                                }
                                            });
                                        }
                                    });
                                });
                            </script>
                            <div class="form-group col-lg-1">
                                <br />
                                <button id="btnAdd" class="btn btn-primary">Add</button>
                            </div>
                        </div>

                        <table id="depositTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Ref No</td>
                                    <th>Deposit Mode</th>
                                    <th>Deposit Bank/Debit To Person/Sadhak</th>
                                    <th>Deposit Date</th>
                                    <th>Currency Code</th>
                                    <th>Deposit Amount</th>
                                    <th>BankID</th>
                                    <th>Transaction ID</th>
                                    <th>Pay-In-Slip</th>
                                    <th style="display:none"></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <input type="hidden" asp-for="DonationDetails" id="hiddenTableData" name="DonationDetails" />
                        <input type="hidden" id="hiddenTotalAmount" />

                        <script>
                            $(document).ready(function () {
                                // Hide the table initially
                                $('#depositTable').hide();

                                // Variable to track added payment modes
                                var addedPaymentModes = [];
                                var temporaryFolder = '@temporaryFolder';

                                // Handle Add button click
                                $('#btnAdd').on('click', function (event) {
                                    event.preventDefault();

                                    var refNo = $('#RefNo').val();
                                    var depositMode = $('#PaymentMode option:selected').data('paymentmode');

                                    // Check if donation mode is CASH
                                    if (depositMode.toUpperCase() === 'CASH') {
                                        // refNo = '0';
                                    } else {
                                        // Validate RefNo
                                        if (!refNo) {
                                            alert("Please select a Ref No before adding.");
                                            return;
                                        }
                                    }

                                    var mode = $('#DepositePaymentMode option:selected').data('paymentmode');
                                    var DepositeBank = '';
                                    var selectedPersonShadhak = '';

                                    if (mode === 'Debit To Shadhak') {
                                        DepositeBank = $("#Shadhak option:selected").text();
                                    } else if (mode === 'Debit to Person') {
                                        DepositeBank = $("#Person option:selected").text();
                                    } else {
                                        // For PAY-IN-SLIP mode, the bank name can be selected from the bank dropdown
                                        DepositeBank = $("#BankID1 option:selected").text();
                                    }

                                    var date = $('#DepositeDate').val();
                                    var currencyCode = $('#DepositeCurrencyID option:selected').data('currencycode');
                                    var amount = parseFloat($('#DepositeAmount').val());
                                    var bankID = $('#DepositeBankID').val();
                                    var TrasactionID = $('#DepositeTrasactionID').val();
                                    var Doc = $("#hiddenTempFilename").val();

                                    // Validate the amount
                                    if (isNaN(amount) || amount <= 0) {
                                        alert("Please enter a valid deposit amount.");
                                        return;
                                    }

                                    // Create a new row and append it to the table
                                    var newRow = '<tr>' +
                                        '<td>' + refNo + '</td>' +
                                        '<td>' + mode + '</td>' +
                                        '<td>' + DepositeBank + '</td>' +
                                        '<td>' + date + '</td>' +
                                        '<td>' + currencyCode + '</td>' +
                                        '<td>' + amount + '</td>' +
                                        '<td>' + bankID + '</td>' +
                                        '<td>' + TrasactionID + '</td>' +
                                        "<td><a href='" + temporaryFolder + "/" + Doc + "' target='_blank'>View</a></td>" +
                                        "<td style='display:none;' class='filename'>" + Doc + "</td>" +
                                        '<td><button class="btn btn-danger btnRemove">Delete</button></td>' +
                                        '</tr>';
                                    $('#depositTable tbody').append(newRow);

                                    // Clear form values
                                    $('#BankID1').val('');
                                    $('#DepositeDate').val('');
                                    $('#DepositeAmount').val('');
                                    $('#DepositeBankID').val('');
                                    $('#DepositeTrasactionID').val('');

                                    // Replace file input with a new one
                                    var newFileInput = $('#filemultipayInSlip').clone();
                                    $('#filemultipayInSlip').after(newFileInput);
                                    $('#filemultipayInSlip').remove();

                                    // Update total amount and hidden field
                                    updateTotalAmount();
                                    updateHiddenField();

                                    // Show the table
                                    $('#depositTable').show();
                                });

                                // Handle Remove button click (delegated event for dynamically added rows)
                                $('#depositTable').on('click', '.btnRemove', function () {
                                    var removedPaymentMode = $(this).closest('tr').find('td:eq(0)').text();

                                    // Remove the payment mode from the tracking variable
                                    addedPaymentModes = addedPaymentModes.filter(function (mode) {
                                        return mode !== removedPaymentMode;
                                    });

                                    $(this).closest('tr').remove();

                                    // Update total amount and hidden field
                                    updateTotalAmount();
                                    updateHiddenField();

                                    // If no rows left, hide the table
                                    if ($('#depositTable tbody tr').length === 0) {
                                        $('#depositTable').hide();
                                    }
                                });

                                // Function to calculate the total amount of the rows
                                function calculateTotalAmount() {
                                    var total = 0;
                                    $('#depositTable tbody tr').each(function () {
                                        total += parseFloat($(this).find('td:eq(5)').text());
                                    });
                                    return total;
                                }

                                // Function to update the total amount and hidden field
                                function updateTotalAmount() {
                                    var totalAmount = calculateTotalAmount();
                                    $('#hiddenTotalAmount').val(totalAmount);
                                }

                                // Function to update the hidden field with table data
                                function updateHiddenField() {
                                    var tableData = [];

                                    $('#depositTable tbody tr').each(function () {
                                        var rowData = {
                                            refNo: $(this).find('td:eq(0)').text(),
                                            mode: $(this).find('td:eq(1)').text(),
                                            DepositeBank: $(this).find('td:eq(2)').text(),
                                            date: $(this).find('td:eq(3)').text(),
                                            currencyCode: $(this).find('td:eq(4)').text(),
                                            amount: parseFloat($(this).find('td:eq(5)').text()),
                                            bankID: $(this).find('td:eq(6)').text(),
                                            TrasactionID: $(this).find('td:eq(7)').text(),
                                            TempDoc: $(this).find("td:eq(9)").text()
                                        };
                                        tableData.push(rowData);
                                    });

                                    $('#hiddenTableData').val(JSON.stringify(tableData));
                                }
                            });
                        </script>


                    </div>
                </fieldset>
                <br />
                <div class="container-lg">
                    <div class="text-center">
                        <button type="submit" id="submitButton" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
                        <a href="@Url.Action("PrintProvisionalReceipt", "DonationReceiveMaster", new { refid = Model.ReceiveID })" class="btn btn-secondary">
                            <i class="fas fa-print"></i> Print
                        </a>
                        <button type="reset" class="btn btn-danger">Cancel</button>
                        <a title="Go Back Home" href="/NationalGangotri/DonationReceiveMaterDetails" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $('#submitButton').on('click', function (event) {
                            // Get visible and hidden total amounts
                            var visibleTotalAmount = parseFloat($('#TotalAmount').val());
                            var hiddenTotalAmount = parseFloat($('#hiddenTotalAmount').val());

                            // Compare amounts
                            if (isNaN(visibleTotalAmount) || isNaN(hiddenTotalAmount)) {
                                // Prevent form submission
                                event.preventDefault();

                                // Display error message
                                alert("Error: Total amount is invalid.");
                            } else if (hiddenTotalAmount > visibleTotalAmount) {
                                // Prevent form submission
                                event.preventDefault();

                                // Display error message
                                alert("Error: Cannot deposit a greater amount than the receive ID amount.");
                            } else if (hiddenTotalAmount < visibleTotalAmount) {
                                // Prevent form submission
                                event.preventDefault();

                                // Display error message
                                alert("Error: Cannot deposit a lesser amount than the receive ID amount.");
                            }
                        });
                    });
                </script>
            </form>
        </div>
    </div>
</body>
</html>

