@model NSSERP.Areas.NationalGangotri.Models.DonationReceiveMasterDetails
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @section scripts {
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Select2 CSS and JS -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

        <!-- DataTables CSS and JS -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#CityID').select2();
                $('#StateID').select2();
                $('#tableDetails').DataTable({
                    "order": [[1, "desc"]],
                    "paging": true, // Enable pagination
                    "lengthMenu": [10, 25, 50, 75, 100], // Set custom page lengths
                    "searching": true, // Enable searching
                    "info": true, // Enable table information display
                    "responsive": true, // Enable responsive design
                    "columnDefs": [
                        { "targets": [0], "orderable": false } // Disable sorting for the first column (icons)
                    ]

                });
                $('#CityID').select2();
            });

        </script>

    }
    <style>
        /* Add your custom styles here */
        body {
            padding: 20px;
            background-color: #f8f9fa; /* Set a background color */
        }

        .container {
            text-align: center;
        }

        .table-container {
            overflow-x: auto; /* Add horizontal scroll for small screens */
        }

        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 80%; /* Adjust the width as needed */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
            background-color: #fff; /* Set a white background */
        }

        th, td {
            border: 1px solid #dee2e6;
            padding: 15px;
            text-align: center;
            cursor: pointer;
        }

        th {
            background-color: #f2f2f2;
        }

        .nav-link {
            color: #000000;
            text-decoration: none;
            display: block;
            padding: 15px;
            position: relative;
            transition: background-color 0.3s, color 0.3s;
        }

            .nav-link:hover {
                color: #fff;
                background-color: #28166f;
            }

            /* Add custom zoom-in effect on hover for tabs */
            .nav-link::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, #1cb8a1, #008081);
                z-index: -1;
                opacity: 0;
                transition: opacity 0.3s, transform 0.3s;
            }

            .nav-link:hover::before {
                opacity: 1;
                transform: scale(1.1);
            }

    </style>
    <style>
        .card-header.sticky-top {
            background-color: #fff; /* Set a background color for the sticky header */
            z-index: 1000; /* Set a higher z-index to ensure it appears above other elements */
            border-bottom: 1px solid #dee2e6; /* Add a border to separate it from the content */
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <h5 class="mb-0">
                        <span style="color:#1cb8a1">@User.FindFirst("Department")?.Value.ToUpper() DONATION RECEIVE</span>
                        <span style="color:#28166f">DETAILS</span>
                    </h5>
                </div>
                <div class="col-12 col-md-3 mb-3 mb-md-0 text-left">
                    <h5 class="mb-0">
                        <span style="color:#1cb8a1">INDIAN GANGOTRI</span>
                    </h5>
                </div>
                <div class="col-12 col-md-3 text-md-right">
                    <a href="/Nationalgangotri/DonationReceiveMaster/Home" class="btn btn-outline-primary"><i class="fas fa-plus"></i> ADD</a>
                    <a title="Go Back Home" href="/Gangotri/Home" class="btn btn-warning ml-2"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
        <form id="detailsform" action="/NationalGangotri/DonationReceiveMaterDetails/SearchDataWithPara" method="post">
            <table style="font-size:smaller" class="table-responsive-lg col-lg-12">
                <tr>
                    <td>
                        <div class="row">
                            <div class="form-group">
                                <label for="Post ID">Post ID</label>
                                <input type="text" class="form-control" id="PostID" name="PostID">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="form-group">
                                <label for="Donator Name">Donator Name</label>
                                <input type="text" class="form-control" value="@Model.FullName" id="FullName" name="FullName" asp-for="FullName">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="form-group">
                                <label for="Amount">Amount</label>
                                <input type="text" class="form-control" value="@Model.TotalAmount" id="TotalAmount" asp="TotalAmount" name="TotalAmount">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="form-group">
                                <label for="Receive ID">Receive ID</label>
                                <input type="text" class="form-control" value="@Model.ReceiveID" id="ReceiveID" name="ReceiveID" asp-for="ReceiveID">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="form-group">
                                <label for="Chq No.">Chq NO.</label>
                                <input type="text" class="form-control" id="ChequeNo" asp-for="ChequeNo" name="ChequeNo">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="form-group">
                                <label for="Donation Mode">Donation Mode</label>
                                <select id="PaymentMode" class="form-control" name="PaymentMode" asp-for="PaymentMode">
                                    <option value="" selected disabled>Select Donation Mode</option>
                                    @if (Model != null)
                                    {
                                        foreach (var paymentmode in Model.paymentModes)
                                        {
                                            <option value="@paymentmode.PaymentModeID" data-paymentmode="@paymentmode.PaymentModeName" @(Model.PaymentModeID == paymentmode.PaymentModeID ? "selected" : "")>@paymentmode.PaymentModeName</option>
                                        }
                                    }
                                </select>
                                <input type="hidden" id="hdnpaymentmode" name="PaymentModeName" asp-for="PaymentModeName" />
                                <!-- Include a hidden field for PaymentModeID -->
                                <input type="hidden" id="hdnpaymentmodeid" name="PaymentModeID" asp-for="PaymentModeID" />
                            </div>
                            <script>
                                $(document).ready(function () {
                                    var modelPaymentModeID = parseInt('@Model.PaymentModeID');
                                    if (modelPaymentModeID) {
                                        $("#PaymentMode").val(modelPaymentModeID);
                                    }

                                    // Attach the change event to update the hidden fields
                                    $("#PaymentMode").change(function () {
                                        var selectedOption = $(this).find("option:selected");
                                        var paymentModeName = selectedOption.data("paymentmode");
                                        var paymentModeID = selectedOption.val();

                                        $("#hdnpaymentmode").val(paymentModeName);
                                        $("#hdnpaymentmodeid").val(paymentModeID);
                                    });
                                });


                                $(document).ready(function () {
                                    var modelCityID = parseInt('@Model.CityID');
                                    if (modelCityID) {
                                        $("#CityID").val(modelCityID);
                                    }

                                    var modelStateID = parseInt('@Model.StateID');
                                    if (modelStateID) {
                                        $("#StateID").val(modelStateID);
                                    }

                                    // Attach the change event to update the hidden fields for City
                                    $("#CityID").change(function () {
                                        var selectedOption = $(this).find("option:selected");
                                        var cityID = selectedOption.val();
                                        var cityName = selectedOption.text();

                                        $("#hdnCityID").val(cityID);

                                    });

                                    // Attach the change event to update the hidden fields for State
                                    $("#StateID").change(function () {
                                        var selectedOption = $(this).find("option:selected");
                                        var stateID = selectedOption.val();
                                        var stateName = selectedOption.text();

                                        $("#hdnStateID").val(stateID);

                                    });
                                });

                            </script>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <label asp-for="CityID" class="control-label">City</label>
                            <div class="form-group">
                                <select id="CityID" asp-for="CityID" name="CityID" class="form-control">
                                    <option value="">Select City</option>
                                    @foreach (var city in Model.CityMasterList)
                                    {
                                        <option value="@city.CityID">@city.CityName</option>
                                    }
                                </select>
                                <input type="hidden" id="hdnCityName" name="CityName" asp-for="CityName" />
                                <!-- Include a hidden field for CityID -->
                                <input type="hidden" id="hdnCityID" name="CityID" asp-for="CityID" />
                                <span asp-validation-for="CityID" class="text-danger"></span>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="row">
                            <label for="StateID">State</label>
                            <div class="form-group">
                                <select id="StateID" asp-for="StateID" name="StateID" class="form-control">
                                    <option value="">Select State</option>
                                    @foreach (var state in Model.statelist)
                                    {
                                        <option value="@state.StateID">@state.StateName</option>
                                    }
                                </select>
                                <input type="hidden" id="hdnStateName" name="StateName" asp-for="StateName" />
                                <!-- Include a hidden field for StateID -->
                                <input type="hidden" id="hdnStateID" name="StateID" asp-for="StateID" />
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="row">
                            <div class="form-group">
                                <label for="">Material</label>
                                <select class="form-control" id="Material" name="Material">
                                    <option value="Select">Select</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="form-group">
                                <label for="Prov.No.">Prov.No.</label>
                                <input type="text" class="form-control" value="@Model.ProvNo" asp-for="ProvNo" id="ProvNo" name="ProvNo">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="form-group">
                                <label for="Date">Date</label>
                                <input type="date" asp-for="ReceiveDate" value="@Model.ProvNo" class="form-control" id="ReceiveDate" name="ReceiveDate">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">

                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="IfDetailsNotComplete" value="true" id="detailsnot" @(Model.IfDetailsNotComplete ? "checked" : "") />

                                    <label class="form-check-label" for="Detailsnotcomplete">Details Not Complete</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Go...</button>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>

        </form>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <div class="table-container">
                <table id="tableDetails" class="table table-hover table-bordered">

                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>RECEIVE ID</th>
                            <th>RECEIVE BY</th>
                            <th>ENTRY BY</th>
                            <th>RECEIVE DATE</th>
                            <th>PROV.NO.</th>
                            <th>DONNER NAME</th>
                            <th>ADDRESS</th>
                            <th>CURRENCY</th>
                            <th>AMOUNT</th>
                            <th>PAYMENT MODE</th>
                            <th>IF DETAILS NOT COMPLETE</th>
                            <th>FORWARDED</th>
                            @*     <th>IF UPDATION IN ADDRESS</th>

                            <th>IF ANNOUNCE DUE IN FUTURE</th>
                            <th>FORWARDED</th> *@
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.masterDetails)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("ViewDetails", "DonationReceiveMaster", new { id = item.ReceiveID })" title="View Details">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                    @*   <td>
                            <a title="View Details">
                            <i class="fas fa-eye"></i>
                            </a>
                            </td> *@
                                    <td>@item.ReceiveID</td>
                                    <td>@item.ReceiveHeadName</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.ReceiveDate.ToString("dd-MM-yyyy")</td>
                                    <td>@item.ProvNo</td>
                                    <td>@item.FullName</td>
                                    <td>@item.FullAddress</td>
                                    <td>@item.CurrencyCode</td>
                                    <td>@item.TotalAmount</td>
                                    <td>@item.PaymentModeName</td>
                                    <td>
                                        @if (item.IfDetailsNotComplete)
                                        {
                                            <span class="text-danger">Details Not Complete</span>
                                        }
                                        else
                                        {
                                            <span class="text-success">Details Completed</span>
                                        }
                                    </td>
                                    <td></td>
                                    @*            <td>@(item.IfUpdationInAddress ? "Yes" : "No")</td>

                            <td>@(item.IfAnnounceDueInFuture ? "Yes" : "No")</td> *@
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="..."></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="..."></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="..."></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="..." crossorigin="anonymous" />

</body>
</html>
